
body
{
	/* background-color: #ddabc0; */
	background-color: #ffdc89;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	height: 90vh;
	/* background-image: url("Images/lilac flower2.jpg");
	background-repeat: no-repeat; */
}


#menu
{
	position: fixed;
	width: 100%;
	height: 6vh;
	/* background: white; */
	/* background-color: #bf5e87; */
	background-color: #ffbd1e;
	text-align: center;
	/* margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0; */

} 





#menu li
{
	display: inline-block;
	/* margin-left: 10vh;
	margin-right: 2vh; */
	padding-top: 1vh;
	padding-bottom: 1vh;
	/* padding-left: 3vh; */
	padding-right: 6vh;
	text-transform: uppercase;
	font-weight: bolder;
}

#menu li a
{
	display: block;
	font-size: 3vh;
}


#menu a:link, #menu a:visited
{
	color: black;
	text-decoration: none;
	transition: all ease-in-out 450ms;
}


#menu a::after
{
	content: '';
	position:fixed;
	display:block;
	height: 2vh;
	width: 0%;
}

#menu a:hover
{
	transition: all ease-in-out 250ms;
	color: white;
	
}

#menu a:hover::after
{
	width: 60%;
}

.section
{
	text-align: center;
	/* font-size: 40px; */
	font-weight: bolder;
	font-size: 3vh;
}


#about p
{
	font-size: 4vh;
	word-break: keep-all;
	margin-left: 12vh;
	margin-right: 12vh;
	text-align: center;
}


#ans1_table, #ans2_table
{
	width: 150vh;
	border: 0.1vh solid rgba(0, 0, 0, 1);
	margin-left: auto;
	margin-right: auto;
	
}

.ans_row td
{
	font-size: 4vh;
	border: 0.1vh solid rgba(0, 0, 0, 1);
}

.ans_row th
{
	font-size: 4vh;
	border: 0.1vh solid rgba(0, 0, 0, 1);
}


#pictures img
{
	object-fit: cover;
	width: 35vh;
	height: 30vh;
	/* -webkit-filter: drop-shadow(4px 4px 10px purple);
	filter: drop-shadow(4px, 4px, 10px black); */
}

#pictures img:hover
{
	box-shadow: 0 0 12px 7px rgba(0, 0, 0, 1);
}



#contact_form button
{
	font-size: 3.5vh;
}

#contact_form input
{
	font-size: 3.5vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#description
{
	resize: vertical;
	font-size: 3.5vh;
	margin-top: 1vh;
}

#Emojis
{
	font-size: 4vh;
}

h1
{
	color: rgba(0, 0, 0, 1);
	text-align: center;
	font-size: 8vh;
	display: flex;
}

h1::after, h1::before
{
	content: "";
	flex: 1 1;
	/* border-bottom: 1vh solid #7f3253; */
	border-bottom: 1vh solid #f9b000;
	margin: auto;
	margin-right: 1.5vh;
	margin-left: 1.5vh;
}


#spa p
{
	text-align: right;
	margin-right: 5vh;
}

i
{
	font-size: 3.5vh;
}

iframe
{
	width: 60vh;
	height: 35vh;
}