/* configuration of the menu */

body
{
	background-color: bisque;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	/* background-image: url("Images/lilac flower2.jpg");
	background-repeat: no-repeat; */
}

#menu
{
	position: fixed;
	width: 100%;
	height: 60px;
	background: white;
	background-color: aqua;
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
} 




/* configure the list's items */
#menu li
{
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
}

#menu li a
{
	display: block;
	height: 30px;
}


/* configuration of the normal/visited state of the links in menu class */
#menu a:link, #menu a:visited
{
	color: black;
	/* background: aqua; */
	text-decoration: none;
	transition: all ease-in-out 450ms;
}


#menu a::after
{
	content: '';
	position:fixed;
	display:block;
	height: 5px;
	width: 0%;
}

#menu a:hover
{
	transition: all ease-in-out 250ms;
	color: white;
	
}

#menu a:hover::after
{
	width: 60%;
}

#about.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#about p
{
	font-size: 30px;
}

#photos.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#playlist.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}


#like.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#like p
{
	font-size: 25px;
}

#qrcoder.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#spa.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#contact.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

/* #like_button
{
	padding: 15px, 25px;
	width: 80px;
	height: 50px;
	background-color: #04AA6D;
	color: white;
	border-radius: 15px;
	box-shadow: 0 9px rgb(153, 153, 153);
	border: none;
}

#like_button:hover
{
	background-color: #3e8e41;
}

#like_button:active
{
	background-color: #3e8d41;
	box-shadow: 0 5px rgb(102, 102, 102);
	transform: translateY(4px);
} */


#ans_table
{
	width: 60%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	
}

.ans_row td
{
	font-size: 30px;
	border: 1px solid black;
}

.ans_row th
{
	font-size: 40px;
	border: 1px solid black;
}


#pictures img
{
	width: 350px;
	height: 300px;
	object-fit: cover;
}

#pictures img:hover
{
	box-shadow: 0 0 10px 5px black;
}

#contact_form button
{
	font-size: 20px;
}

#contact_form input
{
	/* height: 30px; */
	font-size: 20px;
}

#description
{
	resize: vertical;
	font-size: 20px;
}

#Emojis
{
	font-size: 25px;
}