/* configuration of the menu */

body
{
	background-color: bisque;
}

#menu
{
	position: fixed;
	width: 100%;
	height: 60px;
	background: white;
	background-color: aqua;
	text-align: center;
} 

p
{
	font-size: 20px;
}


/* configure the list's items */
#menu li
{
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;

}


/* configuration of the normal/visited state of the links in menu class */
#menu a:link, #menu a:visited
{
	color: black;
	/* background: aqua; */
	text-decoration: none;
	transition: all ease-in-out 450ms;
}


#menu a::after
{
	content: '';
	position:fixed;
	display:block;
	height: 5px;
	width: 0%;
}

#menu a:hover
{
	transition: all ease-in-out 250ms;
	color: white;
	
}

#menu a:hover::after
{
	width: 60%;
}

#about.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#photos.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#playlist.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#playlist video
{
	width: 400px;
	height: 200px;
	
}

#like.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#qrcoder.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#spa.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

#contact.section
{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}


#img1
{
	width: 30%;
	height: auto;
}

#img2
{
	width: 30%;
	height: auto;
}

#img3
{
	width: 30%;
	height: auto;
}

#img4
{
	width: 30%;
	height: auto;
}

img:hover
{
	box-shadow: 0 0 10px 5px black;
}

#video
{
	width: 50px;
	height: 50px;
}



#like_button
{
	width: 80px;
	height: 50px;
	background-color: black;
	color: rgb(34, 224, 38);
	border-radius: 5px;
}


#textarea
{
	resize: vertical;
}

#ans_table
{
	width: 60%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	
}

.ans_row td
{
	font-size: 30px;
	border: 1px solid black;
}

.ans_row th
{
	font-size: 40px;
	border: 1px solid black;
}